<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SPS_Helper.Properties.Settings.Reporting_Services_SharePoint"
            connectionString="Data Source=as-msk-n0203\content;Initial Catalog=ReportingService_test2DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SPS_Helper.Properties.Settings.Reporting_Services_Native"
            connectionString="Data Source=AS-MSK-N0131;Initial Catalog=ReportServer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>